@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #10b981;
  --color-dark: #1e293b;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
    font-family: sans-serif;
  }
}